# 패키지를 빌드할 때 무시할 패턴입니다.
# shell glob 일치, 상대 경로 일치, 부정(! 접두사)을
# 지원합니다. 한 줄에 패턴 하나만 지정합니다.
.DS_Store
# 일반적인 VCS 디렉터리
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# 일반적인 백업 파일
*.swp
*.bak
*.tmp
*.orig
*~
# 여러 IDE
.project
.idea/
*.tmproj
.vscode/
